<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Hello Twitter</title>
<script type="text/javascript"
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/twitterProfile.js"></script>
<link href="css/style.css" th:href="@{css/style.css}" rel="stylesheet"></link>
<link href="css/table.css" th:href="@{css/table.css}" rel="stylesheet"></link>
</head>
<body>

	<div th:replace="template :: header"></div>

	<div class="token_create">
		<textarea rows="2" cols="50" id="token"
			placeholder='AccessTokenを入力してください'></textarea>
	</div>

	<form class="logout_button">
		<div class="logout">
			<a href="/logout">ログアウト</a>
		</div>
	</form>

	<h4>有効なアクセストークン</h4>
	<div th:if="${tokens}">
		<li th:each="token:${tokens}" th:text="${token.apiAccessToken}">アクセストークン</li>
	</div>

	<h3>
		こんにちは, <span th:text="${twitter}">Some User</span>!
	</h3>

	<form class="date">
		<label class="month-label" for="month-date">履歴検索</label>
		<div>
			<textarea rows="1" cols="5" maxlength='4' id="year" placeholder='年'></textarea>
			<textarea rows="1" cols="5" maxlength='2' id="month" placeholder='月'></textarea>
			<textarea rows="1" cols="5" maxlength='2' id="day" placeholder='日'></textarea>
		</div>
		<div class="search_button">
			<input type="button" id="date_get" value="検索" />
		</div>
	</form>

	<h1>商品一覧</h1>
	<table class="type">
		<thead>
			<tr>
				<th scope="col">商品画像</th>
				<th scope="col">タイトル</th>
				<th scope="col">商品価格</th>
				<th scope="col">作者</th>
				<th scope="col">使用したapi</th>
			</tr>
		</thead>
		<tbody id="output">
		</tbody>
	</table>

	<h4>These are your friends:</h4>
	<ul>
		<li th:each="friend:${friends}" th:text="${friend.name}">Friend</li>
	</ul>
	<ul>
		<li th:each="tweet:${tweets}" th:text="${tweet.source}">tweet</li>
		<li th:each="tweet:${tweets}" th:text="${tweet.text}">tweet</li>
	</ul>
	<div th:replace="template :: footer"></div>
</body>
</html>
